language: ruby
rvm:
- 2.0.0
deploy:
  provider: heroku
  app: obscure-crag-6658
  api_key:
    secure: dH+6weCh+B+FqTkHSqcnb5DmprIaNLaJWlSqtLHTZ7eM2IiStVMcTJ2BOHF/X9DSb89x/S5g6SAxdqTsnCSA+LyFeqTHtZLzAYeu+tYozTay3DqOzaWgQFIYX4az/fa2VluNX7SXOO9WgIV2WQKok3Wg/tXoDaPm8aL23hMUSmQ=
env:
  global:
  - secure: DA7R36E9Lmp4KrEmc76+AVjG9P86uhAkEo5MkY/+Kfq3+4MqrcOjJVS7YKTqtmSliiKMzVI7/h6URZvjZ3RqIflgAQWdGoWQEA2XiiaxFSmAwL5vsa7CGauxOZ+1XCD5MgrBPjAGG0f0yXUKykfcZL1SEAJctdwLBZRbfVZpBqE=
  - secure: KpNhRIPNgknv0v6GgHPomkFMA4pCziR/Sn16rUR2BQp9ZJIortWj3zxoI3LiLBMAiHQOEinswWx9vmm/Lm60yQKxoozs2StZdhL/3TkEp0bedg60KsSzCIswHobTahj8fGADIUzdY831LEFIM7Nu7RnlNkXEwuZounFREM0/0vQ=
  - secure: GoB49P6qsrutL4F39k6r/tCj1XUQ3gx9LOsiXtAp0QGus1YrYjV0wyr7GKyjJlVPkcxrcXiD9v/wMSlESW4Q3wTdrweLMXKhFGCXS7c0qQviLoeP7KBGQkdwnyaEhkSyapg65ZWo4U44418j8ENfSK2yNQFKrDjHddlPNY1HpQc=
