<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<!--[if IE 10]><html class="ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">

<head>

  <meta charset="UTF-8">

  <title>Korban Desain | One Page Personal Portfolio Template</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Normalize CSS -->
  <link rel="stylesheet" href="css/normalize.css">

  <!-- Foundation core CSS -->
  <link rel="stylesheet" href="css/foundation.min.css">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="css/main.min.css">
  <link rel="stylesheet" href="css/csslider.css">

  <!-- Font Awesome core CSS -->
  <link rel="stylesheet" href="css/font-awesome.min.css">

  <!-- Favicons -->
  <link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">
  <!-- For third-generation iPad with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/favicon/apple-touch-icon-144x144-precomposed.png">
  <!-- For iPhone with high-resolution Retina display: -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/favicon/apple-touch-icon-114x114-precomposed.png">
  <!-- For first- and second-generation iPad: -->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/favicon/apple-touch-icon-72x72-precomposed.png">
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon-precomposed" href="img/favicon/apple-touch-icon-precomposed.png">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

  <!-- Modernizr Scripts -->
  <script src="js/modernizr-2.6.2.min.js"></script>

</head>

<body id="top">




  <!-- TOP BAR -->
  <header class="mathead fixed">

    <div class="row">

      <nav class="top-bar" data-topbar>

        <ul class="title-area">

          <!-- Title Area -->
          <li class="name">
            <h1><a href="./index.html">Korban Desain</a></h1>
          </li>

          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>

        </ul><!-- /.title-area -->

        <section class="top-bar-section">

          <!-- Right Nav Section -->
          <ul class="right">

            <li><a href="#top">Home</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>

          </ul><!-- /.right -->

        </section><!-- /.top-bar-section -->

      </nav><!-- /.top-bar -->

    </div><!-- /.row -->

  </header><!-- /.masthead -->
  <!-- TOP BAR -->




  <!-- INTRO -->
  <section class="intro">

    <div class="row">

      <div class="medium-12 columns">

        <h1>Designer &amp; Developer</h1>
        <p>Hello my name Thomas Osborn. <br>I am a recent graduate from the UW Ruby on Rails program</p>

        <p><a href="#contact" class="button small alert radius">Drop Me A Line</a></p>

        <!-- Start: Slider -->
        <div class="csslider">

          <input type="radio" name="slides" id="slides_1" checked>
          <input type="radio" name="slides" id="slides_2">
          <ul>
            <li><img src="img/mac.png" alt=""></li>
            <li><img src="img/mac.png" alt=""></li>
          </ul>

          <!-- Buttons Control -->
          <div class="navigation">

            <div>
              <label for="slides_1"></label>
              <label for="slides_2"></label>
            </div>

          </div><!-- /.navigation -->

        </div><!-- /.csslider -->
        <!-- End: Slider -->

      </div><!-- /.medium-12 .columns -->

    </div><!-- /.row -->

  </section><!-- /.intro -->
  <!-- INTRO -->




  <!-- PORTFOLIO -->
  <section id="portfolio" class="portfolio-wrapper">

    <div class="row">

      <div class="medium-12 columns">

        <h3>My Latest Project</h3>

        <div class="line"></div>
        <div class="clearfix"></div>

        <div class="portfolio-list">

          <!-- Start: Portfolio grid -->
          <div class="portfolio">

            <div class="portfolio-cover">

              <img src="img/portfolio/work-1.jpg" alt="">

              <div class="label">
                <div class="label-text">
                  <h5><a href="#" data-reveal-id="Modal-Portfolio-1" class="text-title">Example Title</a></h5>
                </div><!-- /.label-text -->
                <div class="label-bg"></div>
              </div><!-- /.label -->

            </div><!-- /.portfolio-cover -->

          </div><!-- /.portfolio -->

          <div class="portfolio">

            <div class="portfolio-cover">

              <img src="img/portfolio/work-2.jpg" alt="">

              <div class="label">
                <div class="label-text">
                  <h5><a href="#" data-reveal-id="Modal-Portfolio-1" class="text-title">Example Title</a></h5>
                </div><!-- /.label-text -->
                <div class="label-bg"></div>
              </div><!-- /.label -->

            </div><!-- /.portfolio-cover -->

          </div><!-- /.portfolio -->

          <div class="portfolio">

            <div class="portfolio-cover">

              <img src="img/portfolio/work-3.jpg" alt="">

              <div class="label">
                <div class="label-text">
                  <h5><a href="#" data-reveal-id="Modal-Portfolio-1" class="text-title">Example Title</a></h5>
                </div><!-- /.label-text -->
                <div class="label-bg"></div>
              </div><!-- /.label -->

            </div><!-- /.portfolio-cover -->

          </div><!-- /.portfolio -->

          <div class="portfolio">

            <div class="portfolio-cover">

              <img src="img/portfolio/work-4.jpg" alt="">

              <div class="label">
                <div class="label-text">
                  <h5><a href="#" data-reveal-id="Modal-Portfolio-1" class="text-title">Example Title</a></h5>
                </div><!-- /.label-text -->
                <div class="label-bg"></div>
              </div><!-- /.label -->

            </div><!-- /.portfolio-cover -->

          </div><!-- /.portfolio -->



          <div class="portfolio">

            <div class="portfolio-cover">

              <img src="img/portfolio/work-5.jpg" alt="">

              <div class="label">
                <div class="label-text">
                  <h5><a href="#" data-reveal-id="Modal-Portfolio-1" class="text-title">Example Title</a></h5>
                </div><!-- /.label-text -->
                <div class="label-bg"></div>
              </div><!-- /.label -->

            </div><!-- /.portfolio-cover -->

          </div><!-- /.portfolio -->

          <div class="portfolio">

            <div class="portfolio-cover">

              <img src="img/portfolio/work-6.jpg" alt="">

              <div class="label">
                <div class="label-text">
                  <h5><a href="#" data-reveal-id="Modal-Portfolio-1" class="text-title">Example Title</a></h5>
                </div><!-- /.label-text -->
                <div class="label-bg"></div>
              </div><!-- /.label -->

            </div><!-- /.portfolio-cover -->

          </div><!-- /.portfolio -->

          <div class="portfolio">

            <div class="portfolio-cover">

              <img src="img/portfolio/work-7.jpg" alt="">

              <div class="label">
                <div class="label-text">
                  <h5><a href="#" data-reveal-id="Modal-Portfolio-1" class="text-title">Example Title</a></h5>
                </div><!-- /.label-text -->
                <div class="label-bg"></div>
              </div><!-- /.label -->

            </div><!-- /.portfolio-cover -->

          </div><!-- /.portfolio -->

          <div class="portfolio">

            <div class="portfolio-cover">

              <img src="img/portfolio/work-8.jpg" alt="">

              <div class="label">
                <div class="label-text">
                  <h5><a href="#" data-reveal-id="Modal-Portfolio-1" class="text-title">Example Title</a></h5>
                </div><!-- /.label-text -->
                <div class="label-bg"></div>
              </div><!-- /.label -->

            </div><!-- /.portfolio-cover -->

          </div><!-- /.portfolio -->
          <!-- End: Portfolio grid -->

        </div><!-- /.portfolio-list -->

      </div><!-- /.medium-12 .columns -->

    </div><!-- /.row -->

  </section><!-- /.portfolio-wrapper -->
  <!-- PORTFOLIO -->




  <!-- ABOUT -->
  <section id="about" class="about-wrapper">

    <div class="row">

      <div class="medium-12 columns">

        <h3>About Me</h3>

        <div class="line"></div>
        <div class="clearfix"></div>

      </div><!-- /.medium-12 .columns -->

    </div><!-- /.row -->

    <div class="col-progress">

      <div class="row">

        <div class="medium-4 columns">

          <h6>HTML5</h6>
          <div class="progress success round">
            <span class="meter" style="width: 90%"></span>
          </div><!-- /.progress -->

          <h6>CSS3</h6>
          <div class="progress success round">
            <span class="meter" style="width: 90%"></span>
          </div><!-- /.progress -->

          <h6>Javascript</h6>
          <div class="progress round">
            <span class="meter" style="width: 80%"></span>
          </div><!-- /.progress -->

        </div><!-- /.medium-4 .columns -->

        <div class="medium-4 columns text-center">

          <div class="col-desc">
            <p>Cupcake ipsum dolor sit amet sweet jelly-o gummies unerdwear.com. Sweet roll toffee tiramisu. Chocolate jujubes dessert topping muffin pudding marzipan. Croissant chocolate cake unerdwear.com tart wafer cupcake.</p>

            <img src="img/avatar.jpg" alt="">
          </div><!-- ./col-desc -->

        </div><!-- /.medium-4 .columns -->

        <div class="medium-4 columns">

          <h6>Jquery</h6>
          <div class="progress medium-12 round">
            <span class="meter" style="width: 80%"></span>
          </div><!-- /.progress -->

          <h6>Photoshop</h6>
          <div class="progress medium-12 alert round">
            <span class="meter" style="width: 70%"></span>
          </div><!-- /.progress -->

          <h6>PHP &amp; MySQL</h6>
          <div class="progress medium-12 alert round">
            <span class="meter" style="width: 70%"></span>
          </div><!-- /.progress -->

        </div><!-- /.medium-4 .columns -->

      </div><!-- /.row -->

    </div><!-- /.col-progress -->

  </section><!-- /.about-wrapper -->
  <!-- ABOUT -->




  <!-- LATEST TWEETS -->
  <section class="tweets-wrapper">

    <div class="row">

      <div class="medium-12 columns">

        <img src="img/twitter-bird.png" alt="" class="pulse">

        <div id="tweets"></div>
        <script>
          window.onload = function(){
            twitterFetcher.fetch(
              '252605694623223809',     // replace to your id twitter app
              'tweets',           // div id
              1,                // num tweets
              true,             // set true if you want urls and hash
              false,              // Set false if you dont want user photo
              false,              // Set false if you dont want time of tweet to show.
              d,                // Format tweet date
              false,              // Show retweets or not.
              d,                // function to call when data is ready.
              false             // Show links for reply, retweet, favourite.
            );
            var d = function(){return null};  // nothing function
          }
        </script>
        <script src="js/tweets.js"></script>

        <div class="clearfix"></div>
        <p><a href="#" class="button tiny radius">Follow @raul_gonzalez</a></p>

      </div><!-- /.medium-12 .columns -->

    </div><!-- /.row -->

  </section><!-- /.tweets-wrapper -->
  <!-- LATEST TWEETS -->




  <!-- CONTACT -->
  <section id="contact" class="contact-wrapper">

    <div class="row">

      <div class="medium-12 columns">

        <h3>Let's Talk</h3>

        <div class="line"></div>
        <div class="clearfix"></div>

      </div><!-- /.medium-12 .columns -->

    </div><!-- /.row -->

    <div class="row">

      <div class="medium-3 columns">&nbsp;</div><!-- /.medium-3 .columns -->
      <div class="medium-6 columns">

        <form class="contact-form">

          <div class="input-item">
            <label>Name <span class="required">*</span></label>
            <input type="text" placeholder="Full name">
          </div><!-- /.input-item -->

          <div class="input-item">
            <label>Email <span class="required">*</span></label>
            <input type="email" placeholder="Email address">
          </div><!-- /.input-item -->

          <div class="input-item">
            <label>Messages <span class="required">*</span></label>
            <textarea cols="10" rows="4" placeholder="Your message"></textarea>
          </div><!-- /.input-item -->

          <div class="input-item text-center">
            <input class="button small success radius" type="submit" value="Submit">
          </div><!-- /.input-item -->

        </form><!-- /.contact-form -->

      </div><!-- /.medium-6 .columns -->
      <div class="medium-3 columns">&nbsp;</div><!-- /.medium-3 .columns -->

    </div><!-- /.row -->

    <div class="clearfix"></div>
    <div class="row margin-top">

      <div class="medium-12 columns">

        <h3>Stay In Touch!</h3>

        <div class="line"></div>
        <div class="clearfix"></div>

        <ul class="social-icon">
          <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#" class="dribbble"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#" class="flickr"><i class="fa fa-flickr"></i></a></li>
        </ul><!-- /.social-icon -->

      </div><!-- /.medium-12 .columns -->

    </div><!-- /.row -->

  </section><!-- /.contact-wrapper -->
  <!-- CONTACT -->




  <!-- FOOTER -->
  <footer class="copy">

    <div class="row">

      <div class="medium-12 columns">

        <p>&copy; Copyright 2013 <a href="./index.html">Thomas Osborn</a>. All right reserved. <br>Themes by <a href="https://twitter.com/Aryandhani">Aryandhani</a>.</p>

      </div><!-- /.medium-12 .columns -->

    </div><!-- /.row -->

  </footer><!-- /.copy -->
  <!-- FOOTER -->




  <!-- Start show Modal for Portfolio from here. You should create a modal for each of your projects. -->
  <!-- Start: Modal Portfolio 1 -->
  <div id="Modal-Portfolio-1" class="reveal-modal small" data-reveal>

    <img src="img/portfolio/work-7.jpg" alt="">

    <h3>Example Title</h3>
    <p>Macaroon fruitcake marzipan dessert muffin halvah halvah. Cake candy canes apple pie pastry <a href="#">jelly-o caramels</a>. Tiramisu cake lollipop bonbon tart pie caramels biscuit.</p>

    <p class="text-center button-margin"><a href="#" class="button tiny alert radius">Visit Site</a></p>

    <!-- Close modal -->
    <a class="close-reveal-modal">&times;</a>

  </div><!-- /.reveal-modal -->
  <!-- End: Modal Portfolio 1 -->

  <!-- Start: Modal Portfolio 2 -->

  <!-- End: Modal Portfolio 2 -->




  <!-- Load JS here for greater good -->
  <script src="js/jquery-1.10.2.min.js"></script>
  <script src="js/foundation.min.js"></script>
  <script src="js/plugin.js"></script>
  <script src="js/main.min.js"></script>




</body>

</html>
