</br>
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
    <h1 id="about">About me</h1>
      <p> My name is Thomas Osborn. I am a pizza delivery driver learning Ruby on Rails. When I'm not working or learning about web development, you can find me at the gym lifting weights or practicing a variety of martial arts, reading about social justice issues, or playing Magic: The Gathering.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-4 columns">
    <%= image_tag('cherry-blossoms.jpg') %>
    <h4>Education</h4>
    <p>I graduated from the University of Washington with a B.A. in English literature in 2012. Essentially, my degree was a practice in empathy, and I'd like to find a a career in web development where I can apply my excellent communication skills.</p>
  </div>

  <div class="large-4 columns">
  <%= image_tag('bruce-rails.jpg') %>
    <h4>Rails</h4>
    <p>Bruce Lee believed no martial art contained all the answers, and I believe the same thing about writing code. While I'm partial to working with Ruby and Rails, I'm open to learning whatever tool is best for the job.</p>
  </div>

  <div class="large-4 columns">
    <%= image_tag('tdd-everything.jpg') %>
    <h4>Best Practices</h4>
    <p>TDD/BDD, continuous integration, code reviews and agile development are important to me. I want to work under the tutleage of experienced developers who can get me on the path to writing beautiful code using best practices. </p>
  </div>
</div>


<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h4>Contact me!</h4>

      <div class="row">
        <div class="large-9 columns">
          <p>If you think I'd be a good fit for your company, I'd love to hear from you!</p>
        </div>
        <div class="large-3 columns">
          <a><%= link_to "Contact Me", new_message_path, class: "button" %></a>
        </div>
      </div>
    </div>
  </div>
</div>

