<div class="row">
  <div class="large-12 columns">
    <p> My name is Thomas Osborn. I am a pizza delivery driver learning Ruby on Rails. When I'm not working or learning about web development, you can find me at the gym lifting weights or practicing a variety of martial arts, reading about social justice issues, or playing Magic: The Gathering.</p>
  </div>
</div>
<div class="row">
  <div class="large-6 columns">
    <p>
      I graduated from the University of Washington in 2012 with a degree in English literature. Originally I intended to go to law school, but the market for lawyers is awful, law school is overpriced, and at best I was ambivalent about working in the legal profession.
    </p>
    <p>
      In 2014, I graduated with a certificate in Ruby on Rails from the University of Washington. The program was a solid introduction into developing Rails applications using best practices such as version control and TDD/BDD. Since then, I've spent my time learning web fundamentals like CSS, Javascript/jQuery, and HTML. I've also built my own Rack framework through "Rebuilding Rails" by Noah Gibbs, and have learned the basics of Schema via "My Little Schemer" by Daniel P. Friedman.
    </p>
    <p>
      Currently I am employed delivering pizzas for Pagliacci's. I've been doing the job since my sophmore year at the University of Washington. Pagliacci's is a great place to work, and although I have learned a lot about myself and costumer service working there, it is time for me to move on.
    </p>
    <p>
      I'm someone who strives to write beautiful code using best practices and I'd like to work at an ethically-minded company that believes similarly. Code reviews, TDD/BDD, continuous integration, agile development and pair-programming are just as important to me as working for an employeer that values diversity in tech and finding ways to give back to the local community.
    </p>
  </div>

  <div class="large-6 columns">
    <%= image_tag('patrick-portfolio.jpg') %>
  </div>


  <div class="large-12 columns">
    </br>
    <div class="panel">
      <h4>Contact me!</h4>

      <div class="row">
        <div class="large-9 columns">
          <p>If you think I'd be a good fit for your company, I'd love to hear from you!</p>
        </div>
        <div class="large-3 columns">
          <a><%= link_to "Contact Me", new_message_path, class: "button" %></a>
        </div>
      </div>
    </div>
</div>

