
<!-- Header -->
<header class="myhead">
  <div class ="row">
    <div class="twelve columns">
      <h1>Paris-Tokyo-Seattle</h1>
      <h4>portfolio exercise</h4>
    </div>
  </div>
 </header>
<div class="dark" >
  <div class="row" >
    <div class="small-4 columns">
      <p class="lightT">A pizza delivery driver learning Ruby on Rails</p>
    </div>
    <div class="small-8 columns">
      <blockquote>"It has been my experience that folks who have no vices have very few virtues.”  <cite>Abraham Lincoln</cite></blockquote>
    </div>
  </div>
</div>
