<div class="row">
  <div class="large-12 columns">
    <p> My name is Thomas Osborn. I am a pizza delivery driver learning Ruby on Rails. When I'm not working or learning about web development, you can find me at the gym lifting weights or practicing a variety of martial arts, reading about social justice issues, or playing Magic: The Gathering.</p>
  </div>
</div>
<div class="row">
  <div class="large-6 columns">
    <p>
      I graduated from the University of Washington in 2012 with a degree in English literature. Originally I intended to go to law school, but when a friend show me his Rails application I became enthralled! I had coded a little growing up, but had never seen such dense, beautifully written code. I knew law school was no longer the path for me.
    </p>
    <p>
      In 2014, I graduated with a certificate in Ruby on Rails from the University of Washington. I've spent the time since learning web fundamentals like Javascript/jQuery, HTML and CSS. Additionally, I've dived deeper into Ruby with books like Sandi Metz's Practical Object-Oriented Programming in Ruby, learning how to build a Rack-based web framework with Rebuilding Rails, and even started to learn Scheme with The Little Schemer!
    </p>
    <p>
      Currently I am employed delivering pizzas for Pagliacci's. I've been doing the job since my sophmore year at the University of Washington. Pagliacci's is a great place to work, and although I have learned a lot about myself and costumer service working there, it is time for me to move on.
    </p>
    <p>
      I'm someone who strives to write beautiful code using best practices and I'd like to work at the sort of company that believes similarly. Code reviews, TDD/BDD, continuous integration, agile development and pair-programming are important to me in a future employer. I want to work at the sort of company that enables me to make the best product I can!
    </p>
  </div>

  <div class="large-6 columns">
    <%= image_tag('patrick-portfolio.jpg') %>
  </div>


  <div class="large-12 columns">
    </br>
    <div class="panel">
      <h4>Contact me!</h4>

      <div class="row">
        <div class="large-9 columns">
          <p>If you think I'd be a good fit for your company, I'd love to hear from you!</p>
        </div>
        <div class="large-3 columns">
          <a><%= link_to "Contact Me", new_message_path, class: "button" %></a>
        </div>
      </div>
    </div>
</div>

