<div class="grid">
  <% @projects.each do |project| %>
    <div class="large-4 columns">
      <a href="<%= project %>">
        <figure>
          <%= image_tag project.image_url(:preview).to_s %>
          <figcaption><p>
            <%= project.name %>
            <%= project.technologies_used %>
          </p></figcaption>
        </figure>
      </a>
    </div>
  <% end %>
</div>
