<article class="project" id="<%= dom_id(project) %>">
  <h3><%= project.name %></h3>
    <p><%= project.technologies_used %></p>
    <div class="nav">

    <% if policy(project).update? %>
      <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</article>
