<h2><%= @project.name %></h2>
<p>Technologies used: <%= @project.technologies_used %>

<h2>Comments</h2>
<% @project.comments.each do |comment| %>
  <p>
    <% if comment.approved? %>
      <% comment.content %>
    <% end %>
  </p>
<% end %>

<%= render "comments/form" %>

<%= link_to "Destroy", @project, method: :delete, data: {confirm: "Click to confirm deletion"} %>
