<div class="large-9 columns" role="content">
  <article>
    <% @posts.each do |post| %>
      <h3><%= post.title %></h3>
      <h6>Written by <a href="#">John Smith</a> on August 12, 2012.</h6>
    <div class="row">
      <div class="large-12 columns">
        <p>post.body</p>
        <%= link_to 'Read more', post %>
      </div>
    </div>
  </article>
<% end %>
