<div class="row">
  <%= render 'posts' %>
</div>
  <aside class="large-3 columns">
    <a class="twitter-timeline" href="https://twitter.com/joosushi" data-widget-id="550603977814188034">Tweets by @joosushi</a>

    <div class="panel">
      <h5>Featured</h5>
      <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
      <a href="#">Read More →</a>
    </div>
  </aside>
</div>

