button:a:link {
  color: #333333;
}
button:a:visited {
  color: #FFFFFF;
}
button:a:hover {
  color: #CCCCCC;
}
button:a:active {
  color: #333333;
}
li {
  list-style: none;
}
nav.top-bar {
  text-align:center;
}
section.top-bar-section {
  display: inline-block;
}
div.contain-to-grid {
  height: 60px;
}
.name h1 a {
  font-size: 24px;
  vertical-align: text-bottom;
  font-family: Tahoma;
}
.top-bar ul li a {
  margin-top :10px;
  margin-right: 2px;
}
.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}
.parallax-background {
  position: fixed;
  max-width: 100%;
}
.parallax-content {
  max-width: 100%;
  position: relative;
  top: 500px;
  padding: 50px;
  font-size: 20px;
  background-color: #fff;
}
