#header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#header li {
  display: inline;
  border: solid;
  border-width: 1px 1px 0 1px;
  margin: 0 0.5em 0 0;
}
#header li a {
  padding: 0 1em;
}
#content {
  border: 1px solid;
}
#header #selected {
  padding-bottom: 1px;
  background: white;
}
.name h1 a {
  font-size: 24px;
  vertical-align: text-bottom;
  font-family: Tahoma;
}
#about {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #b3b3b1;
  letter-spacing: .1em;
}
#tabs {
  top: 500px;
  position: relative;
}
ul {
  background-color: transparent !important;
  list-style: none;
}
ul li {
  display: inline;
}
.no-pad-right {
padding-right: 0;
}
.no-pad-left{
padding-left: 0;
}
