a { color: #6d6d6d; }

body {
 border-top: 7px solid blue;
}

#underline { border-bottom: 4px solid gray; }
#thinline { border-bottom: 2px solid gray; }

#topbar {
  text-align: center;
  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    li {
      float: left;
      text-align: left;
      position: relative;
      z-index: 100;
      list-style-type: none;
      a {
        text-transform: uppercase;
        padding: 10px;
        font-size: 16px;
        display: inline-block;
      }
    }
  }
}

#namebar {
  border-bottom: 2px solid gray;
}

#about {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #b3b3b1;
  letter-spacing: .1em;
}
