button:a:link {
  color: #333333;
}
button:a:visited {
  color: #FFFFFF;
}
button:a:hover {
  color: #CCCCCC;
}
button:a:active {
  color: #333333;
}
#header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#header li {
  display: inline;
  border: solid;
  border-width: 1px 1px 0 1px;
  margin: 0 0.5em 0 0;
}
#header li a {
  padding: 0 1em;
}
#content {
  border: 1px solid;
}
#header #selected {
  padding-bottom: 1px;
  background: white;
}
.name h1 a {
  font-size: 24px;
  vertical-align: text-bottom;
  font-family: Tahoma;
}
.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}
.parallax-background {
  width: 100%;
  height: 100%;
  position: fixed;
  background: url(http://ad009cdnb.archdaily.net/wp-content/uploads/2014/04/53476c3dc07a80ef9f000035_pagliacci-pizza-floisand-studio_front_elevation.jpg);
  background-size: 100% auto;
}
.parallax-content {
  max-width: 100%;
  position: relative;
  top: 500px;
  padding: 50px;
  font-size: 20px;
  background-color: #fff;
}
#about {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #b3b3b1;
  letter-spacing: .1em;
}
.tabs {
  top: 500px;
  position: relative;
}
ul {
  background-color: transparent !important;
}
.tabs ul {
  padding: 0 0 0 0px !important;
}
#session{
  position: fixed;
  right: 0px;
}
