#navlist li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

#top-bar-link {
  color: black;
  font-size: 20px;
  font-family: Ariel;
}

#top-bar-title {
  font-family: "Times New Roman";
  font-size: 24;
}

.top-bar {
  height: 45px;
}


