.grid figcaption {
  background: rgba(0,0,0,0.8);
  color: white;
  display: table;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  p {
    font-size: 1.5em;
    position: relative;
    color: white;
    width: 289px;
    vertical-align: middle;
  }
}

.slow {
  -webkit-transition: all 600ms ease-out;
  -moz-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
}

.fast {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.grid div:hover figcaption {
  opacity: 0.8;
}

.grid img {
  -webkit-transition: all 1000ms;
  -moz-transition: all 1000ms;
  transition: all 1000ms;
  display: block;
  height: auto;
  width: 100%;
}

.grid div:hover img {
  -webkit-transform: scale(2.0);
  -moz-transform: scale(2.0);
  transform: scale(2.0);
}

.grid figure {
  height: 163px;
  overflow: hidden;
  position: relative;
  width: 289px;
}

.grid div:hover figcaption p {
  -moz-transform: translateY(40px);
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}

.grid figcaption {
  background: rgba(0,0,0,0.8);
  color: white;
  display: table;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  transition-delay: 100ms;
  z-index: 100;
}


