.grid figcaption {
  background: rgba(0,0,0,0.8);
  color: white;
  display: table;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  p {
    display: table-cell;
    font-size: 1.5em;
    position: relative;
    top: -40px;
    width: 289px;
    vertical-align: middle;
  }
}

.grid div:hover figcaption {
  opacity: 1;
}

.grid img {
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  display: block;
  height: auto;
  width: 100%;
}

.grid div:hover img {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  transform: scale(1.4);
}

.grid figure {
  height: 163px;
  overflow: hidden;
  position: relative;
  width: 289px;
}


