<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© Thomas Osborn</p>
      </div>
      <div class="large-6 columns" id="align-right">
        <a href="http://github.com/trosborn/portfolio">View the source for this site</a>
      </div>
    </div>
  </div>
</footer>
