<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© Thomas Osborn</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <div class="social">
            <li><a href="http://stackoverflow.com/users/1696287/thomas-o">StackOverflow</a></li>
            <li><a href="https://twitter.com/joosushi">Twitter</a></li>
            <li><a href="https://github.com/trosborn">Github</a></li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</footer>
