<% flash.each do |key, value| %>
  <div class="row">
    <div class="large-8 columns">
      <div data-alert class="alert-box round <%= flash_class(key) %>">
        <%= value %>
      </div>
    </div>
  </div>
<% end %>
